<p>Hey {{ name }},</p>
<p>DelSOS is glad to inform you that you become its official partner <br/>
</p>
<p>
    <h3>Here are your username and password for your DelSOS account</h3>
    <p>username : {{username}} </p>
    <p>password : {{password}}</p>
</p>

<p>Please be sure to change this password once you open you account</p>

